<div class="container mt-5">
    <div class="row">
        <!-- <form class="example-form" [formGroup]="formInsumosAlta">
         <div>
            <mat-form-field class="example-full-width col-md-3">
                <input matInput formControlName="nombre" placeholder="Nombre">
            </mat-form-field>

            <mat-form-field class="example-full-width col-md-3">
                <input matInput formControlName="unidad_medida" placeholder="Unidad de Medida">
            </mat-form-field>

            <mat-form-field class="example-full-width col-md-3">
                <input matInput [OnlyNumber]="true" formControlName="contenido_neto" placeholder="Contenido neto" >
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="example-full-width col-md-3">
                <input matInput [OnlyNumber]="true" formControlName="costo_empaque" placeholder="Costo del empaque" >
            </mat-form-field>
        </div>    

    <button mat-raised-button 
            color = "primary"
            [disabled]="this.formInsumosAlta"
            (click)="guardarInsumo()"> Registrar
    </button>

    <button mat-raised-button 
            class="ml-3" 
            color )warn
            (click)="regresar()">Regresar
    </button>

  </form> --> <p>hola</p>
  </div>
</div>